# Closing stuff
snippet [[ "square brackets"
	[${1}]${0}
	[${0}]
snippet [| "square brackets cr"
	[
		${0}
	]@@@
snippet (( "parens"
	(${1})${0}
snippet ((' "parens one-tab"
	(${0})
snippet (- "parens cr"
	(
		${0}
	)@@@
